<div id="chat-container" class="mobile-box a3-5 container"
  style="background-image: url('images/bg/chat/bg-2.png'); background-size: cover; background-position: center;">
</div>

<script>
  let currentChatContact = null;
  let currentReplyMessage = null;

  document.addEventListener("DOMContentLoaded", () => {
    const chat_container = document.getElementById("chat-container");
    const header_container = document.getElementById("header-container");

    let identity_box = identityDiv();
    chat_container.append(identity_box);

    let message_box = messageBox();
    chat_container.append(message_box);

    let message_input_box = messageInputBox();
    chat_container.append(message_input_box);

    // functions
    function resizeMessageBox() {
      const containerHeight = chat_container.clientHeight;
      const identityHeight = identity_box.offsetHeight;
      const inputHeight = message_input_box.offsetHeight;

      const availableHeight = containerHeight - identityHeight - inputHeight;
      message_box.style.height = availableHeight + "px";
    };

    // events
    window.addEventListener("resize", function () {
      resizeChatContainer();
      resizeMessageBox();
    });

    resizeChatContainer();
    resizeMessageBox();
  });

  function resizeChatContainer() {
    const chat_container = document.getElementById("chat-container");
    const header_container = document.getElementById("header-container");

    chat_container.style.height = (window.innerHeight - header_container.offsetHeight) + "px";
  };

  async function openChat(jid) {
    let contact = (await API.response(Contact.filter, { jid }))[0];
    if (!contact) { return; }

    currentChatContact = jid;
    closeReply();

    contact.messages = await API.response(Message.filter, { jid });
    if (!contact.messages) { return; }

    let identity_box = document.getElementById("identity-box");
    let message_box = document.getElementById("message-box");
    let message_input = document.getElementById("message-input-container");

    // identity box
    identity_box.innerHTML = "";

    let identity_info_box = lib.element.create("div", {
      class: "mobile-box a2 container",
      style: "align-self: center;"
    });
    identity_box.append(identity_info_box);

    let profile_picture = lib.element.create("img", {
      class: "image-prop size-30 radius-50 margin-left-5 v-center",
      src: contact.profile_picture || "/images/icon/profile.png",
    });
    identity_info_box.append(profile_picture);

    let identity_contact_box = lib.element.create("div", {
      class: "mobile-box container v-center padding-left-10",
      style: "flex-grow: 1;"
    });
    identity_info_box.append(identity_contact_box);

    // identity_contact_box.append(lib.element.create("div", {
    //   class: "mobile-box lucida-grande em09 text-shadow",
    // }, contact.business || contact.name || ""));

    lib.splitTextBy(contact.jid, "@")[1] != "g.us" && identity_contact_box.append(lib.element.create("div", {
      class: "mobile-box b1 em07 text-shadow v-center"
    }, lib.splitTextBy(contact.jid, "@")[0]));

    let autochat_status = lib.element.create("select", {
      class: "mobile-box b5 padding-5 border-st radius-3 shadow-lg-st v-center"
    });
    identity_box.append(autochat_status);

    autochat_status.append(lib.element.create("option", { value: 1 }, "Ligado"));
    autochat_status.append(lib.element.create("option", { value: 0 }, "Desligado"));

    autochat_status.value = contact.autochat;

    let contact_step = lib.element.create("select", {
      class: "mobile-box b5 padding-5 border-st radius-3 shadow-lg-st v-center"
    });
    identity_box.append(contact_step);

    let agenda_icon = lib.element.icon("b10 icon", "25", "/images/icon/agenda.png");
    identity_box.append(agenda_icon);

    contact_step.append(lib.element.create("option", { value: 0 }, "0"));
    contact_step.append(lib.element.create("option", { value: 1 }, "1"));
    contact_step.append(lib.element.create("option", { value: 2 }, "2"));
    contact_step.append(lib.element.create("option", { value: 3 }, "3"));
    contact_step.append(lib.element.create("option", { value: 4 }, "4"));
    contact_step.append(lib.element.create("option", { value: 5 }, "5"));

    contact_step.value = contact.flow_step;

    // Message box
    message_box.innerHTML = "";

    contact.messages = lib.sort(contact.messages, "datetime");

    contact.messages.forEach(message => {
      let message_div = messageDiv(message);
      message_div && message_box.append(message_div);
    });

    message_box.scrollTop = message_box.scrollHeight;

    autochat_status.addEventListener("change", async () => {
      let response = await API.response(Contact.update, {
        jid: contact.jid,
        autochat: autochat_status.value
      });
    });

    contact_step.addEventListener("change", async () => {
      let response = await API.response(Contact.update, {
        jid: contact.jid,
        flow_step: contact_step.value
      });
    });

    agenda_icon.addEventListener("click", async () => {
      let contact_agenda_interface = await contactAgendaInterface(contact);
      lib.popup(contact_agenda_interface, null, true);
    });
  };

  function identityDiv() {
    let identity_div = lib.element.create("div", {
      id: "identity-box",
      class: "box a1 container ground",
      style: `height: ${parseInt(window.innerHeight) * 0.08}px;`
    });
    return identity_div;
  };

  function messageBox() {
    let message_box = lib.element.create("div", {
      id: "message-box",
      class: "box a1 container scroll-y padding-20",
    });
    return message_box;
  }

  function messageInputBox() {
    let message_input_container = lib.element.create("div", {
      id: "message-input-container",
      class: "box a1 container h-center",
      style: `position:relative;height: ${parseInt(window.innerHeight) * 0.10}px;`
    });

    let message_reply = lib.element.create("div", {
      id: "message-reply-container",
      class: "mobile-box b11-12 container height-50 ground padding-5",
      style: "position: absolute;top:-40px;display:none;"
    });
    message_input_container.append(message_reply);

    let message_input_box = lib.element.create("div", {
      id: "message-input-box",
      class: "mobile-box b11-12 container ground noborder shadow radius-40 padding-10",
      style: "height: 75%;align-self: center;"
    });
    message_input_container.append(message_input_box);

    let input_file_icon = lib.element.icon("b9 icon", "15", "/images/icon/increase.png")
    message_input_box.append(input_file_icon);

    let message_input = lib.element.create("textarea", {
      class: "mobile-box b7-9 rem09 noborder v-center padding-5",
      placeholder: "Digite uma mensagem"
    });
    message_input_box.append(message_input);

    let send_message_icon = lib.element.icon("b9 icon", "25", "/images/icon/send.png")
    message_input_box.append(send_message_icon);

    send_message_icon.addEventListener("click", async () => {
      if (!currentChatContact) return;
      if (!message_input.value) return;

      let message = {
        type: "text",
        jid: currentChatContact,
        content: message_input.value,
        reply: currentReplyMessage ?
          currentReplyMessage : null,
      };

      let response = await API.response(Message.send, message);

      message_input.value = "";
      closeReply();
    });

    return message_input_container;
  };

  async function contactAgendaInterface(contact) {
    let contact_agenda_interface = lib.element.create("div", {
      class: "box b1 container"
    });

    // contact.profile_picture
    contact_agenda_interface.append(lib.element.icon("b1 padding-5",
      "100", contact.profile_picture));

    // contact.jid
    contact_agenda_interface.append(lib.element.create("div", {
      class: "mobile-box b3 padding-5 center"
    }, contact.jid.split("@")[0]));

    // contact.business
    contact_agenda_interface.append(lib.element.create("div", {
      class: "mobile-box b7-12 padding-5 center"
    }, contact.business || "Sem nome comercial"));

    // contact.seller_id
    contact_agenda_interface.append(lib.element.create("div", {
      class: "mobile-box b12 rem09 lucida-grande bold"
    }, contact.seller_id));

    // contact.name
    contact_agenda_interface.append(lib.element.create("div", {
      class: "mobile-box b3 padding-5 center"
    }, contact.name || "Sem nome"));

    // contact.status
    contact_agenda_interface.append(lib.element.create("div", {
      class: "mobile-box b3 padding-5 center"
    }, contact.status || "Sem status"));

    // contact.segment
    contact_agenda_interface.append(lib.element.create("div", {
      class: "mobile-box b3 padding-5 center"
    }, contact.segment || "Sem segmento"));

    // contact.last_message_datetime
    contact_agenda_interface.append(lib.element.create("div", {
      class: "mobile-box b1 rem07 margin-top-10"
    }, `Última mensagem - ${lib.timestampToFulldate(contact.last_message_datetime)}`));

    // contact.last_message_content
    contact_agenda_interface.append(lib.element.create("div", {
      class: "mobile-box b1 padding-left-5"
    }, contact.last_message_content || "Sem última mensagem"));

    let contact_agenda_create_form = contactAgendaCreateForm(contact);
    contact_agenda_interface.append(contact_agenda_create_form);

    let contact_agenda_filter_box = await contactAgendaFilterBox(contact);
    contact_agenda_interface.append(contact_agenda_filter_box);

    return contact_agenda_interface;
  };

  function contactAgendaCreateForm(contact) {
    let contact_agenda_create_form = lib.element.create("form", {
      class: "box b1 container"
    });

    let agenda_status_select = lib.element.create("select", {
      class: "mobile-box b2 padding-10 border-st radius-3 shadow-lg-st v-center margin-top-10"
    });
    contact_agenda_create_form.append(agenda_status_select);

    agenda_status_select.append(lib.element.create("option", {
      value: "Pendente"
    }, "Pendente"));

    agenda_status_select.append(lib.element.create("option", {
      value: "Concluído"
    }, "Concluído"));

    let agenda_datetime_input = lib.element.create("input", {
      type: "datetime-local",
      class: "mobile-box b2 padding-9 border-st radius-3 shadow-lg-st v-center margin-top-10"
    });
    contact_agenda_create_form.append(agenda_datetime_input);

    let agenda_content_textarea = lib.element.create("textarea", {
      class: "mobile-box b1 padding-5 height-100 border-st radius-3 shadow-lg-st v-center margin-top-10",
      placeholder: "Detalhes da agenda"
    });
    contact_agenda_create_form.append(agenda_content_textarea);

    contact_agenda_create_form.append(lib.element.create("button", {
      type: "submit",
      class: "mobile-box b1 btn-act padding-10 border-st radius-3 shadow-lg-st margin-top-10"
    }, "Salvar Agenda"));

    contact_agenda_create_form.addEventListener("submit", async e => {
      e.preventDefault();

      let contact_agenda = {
        contact_jid: contact.jid,
        datetime: lib.datetimeToTimestamp(agenda_datetime_input.value),
        status: agenda_status_select.value,
        content: agenda_content_textarea.value
      };

      let response = await API.response(ContactAgenda.create, contact_agenda);
      if (!response) return;

      lib.message("Cadastrado com sucess!");

      agenda_datetime_input.value = "";
      agenda_status_select.value = "Pendente";
      agenda_content_textarea.value = "";
    });

    return contact_agenda_create_form;
  };

  async function contactAgendaFilterBox(contact) {
    let contact_agendas = await API.response(ContactAgenda.filter, {
      contact_jid: contact.jid
    });

    console.log(contact_agendas);

    let contact_agenda_filter_box = lib.element.create("div", {
      class: "box b1 container margin-top-10"
    });

    contact_agendas.forEach(agenda => {
      let contact_agenda_div = lib.element.create("div", {
        class: "mobile-box b1 container padding-10 border-st radius-3 shadow-lg-st margin-top-5"
      });

      // contact_agenda_div.append(lib.element.create("div", {
      //   class: "mobile-box b1 bold"
      // }, `Status: ${agenda.status}`));

      // contact_agenda_div.append(lib.element.create("div", {
      //   class: "mobile-box b1"
      // }, `Data/Hora: ${lib.timestampToFulldate(agenda.datetime)}`));

      // contact_agenda_div.append(lib.element.create("div", {
      //   class: "mobile-box b1"
      // }, `Detalhes: ${agenda.content}`));

      contact_agenda_div.append(lib.element.info("mobile-box b2",
        "Status", agenda.status));

      contact_agenda_div.append(lib.element.info("mobile-box b2",
        "Data/Hora", lib.timestampToFulldate(agenda.datetime)));

      contact_agenda_div.append(lib.element.info("b1 margin-top-5",
        "Detalhes", agenda.content));

      contact_agenda_filter_box.append(contact_agenda_div);
    });

    return contact_agenda_filter_box;
  };
</script>