<div id="message-box" class="box b1 container"></div>

<script>
  function messageDiv(data) {
    let message_div = lib.element.create("div", {
      class: "box b1 container shadow padding-3 margin-top-10"
    });

    let profile_box = lib.element.create("div", {
      class: "mobile-box container v-center"
    });
    message_div.append(profile_box);

    // let profile_picture = lib.element.icon("b5", "50", data.profile_picture || "/images/icon/no-image.png");
    let profile_picture = lib.element.create("img", {
      class: "image-prop size-50 radius-50",
      src: data.profile_picture || "/images/icon/no-image.png"
    });
    profile_box.append(profile_picture);

    let info_box = lib.element.create("div", {
      class: "mobile-box b4-5 container v-center"
    });
    message_div.append(info_box);

    let name = lib.element.create("div", {
      class: "mobile-box b1 lucida-grande rem10 bold text-shadow v-center"
    }, data.raw?.pushName
      ? `${data.raw?.pushName} - ${lib.splitTextBy(data.sender, "@")[0]}`
      : lib.splitTextBy(data.sender, "@")[0]);
    info_box.append(name);

    let message = lib.element.create("div", {
      class: "mobile-box b1 rem09 v-center margin-top-5 pre-wrap"
    }, data.content);
    info_box.append(message);

    return message_div;
  };
</script>