<div class="box b1 container">
  <div id="lead-create-btn" class="mobile-box container ground right margin-right-10">
    <img id="lead-icon" class='image-prop size-40 shadow-lg-st radius-5 opacity-out-09 padding-8 margin-right-5 pointer'
      src='/images/icon/add-lead.png'>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let lead_create_btn = document.getElementById('lead-create-btn');

    lead_create_btn.addEventListener('click', () => {
      let lead_create_form = lib.element.create('form', {
        class: "box b1 container padding-10 h-center",
      });
      lib.popup(lead_create_form);

      let lead_create_title = lib.element.create("h2", {
        class: "box b2-3 underline lucida-grande bold margin-top-15 center",
      }, "Novo Lead");
      lead_create_form.append(lead_create_title);

      let lead_create_business = lib.element.create("input", {
        class: "box b2-3 lucida-grande border radius-3 shadow padding-10 margin-top-10",
        placeholder: "Nome da empresa",
        role: "presentation",
        autocomplete: "off"
      });
      lead_create_form.append(lead_create_business);

      let lead_create_phone = lib.element.create("input", {
        class: "box b2-3 lucida-grande border radius-3 shadow padding-10 margin-top-10",
        placeholder: "Telefone",
        role: "presentation",
        autocomplete: "off"
      });
      lead_create_form.append(lead_create_phone);

      let lead_create_chat = lib.element.create("select", {
        class: "box b2-3 lucida-grande disable-selected border radius-3 shadow padding-10 margin-top-10",
      });
      lead_create_form.append(lead_create_chat);

      lead_create_chat.append(lib.element.create("option", {
        value: 1,
      }, "Iniciar conversa automaticamente"));

      lead_create_chat.append(lib.element.create("option", {
        value: 0,
      }, "Chat automático desativado"));

      let submit_button = lib.element.create("input", {
        type: "submit",
        class: "box b2-3 btn-act lucida-grande bold noborder radius-3 shadow-lg-st padding-10 margin-top-10 pointer",
        name: "submit",
      });
      lead_create_form.append(submit_button);

      lead_create_form.addEventListener('submit', async (e) => {
        e.preventDefault();

        let lead_options = {
          business: lead_create_business.value,
          phone: lead_create_phone.value,
          autochat: lead_create_chat.value
        };

        let response = await API.response(Lead.create, lead_options);

        lib.message(response.done || response.error, () => {
          lib.popout(lead_create_form);
        });
      });
    });
  });
</script>