<section class="container" style="background-color: #fe6e4d;">
  <div class="box b1 container padding-5">
    <img src="/images/logo/favicon.png" class="mobile-box size-80 radius-5 margin-top-5 margin-bottom-5 pointer"
      onclick="window.location.href='/'" alt="Catálogo digital">

    <div class="mobile-box em20 bold lucida-grande padding-3 center noselect pointer"></div>
    <div class=" mobile-box b5 container">
      <div class="mobile-box container right padding-5">
        <!-- <div class="mobile-box lucida-grande rem10 text-shadow-nn-lg bold radius-5 padding-10 noselect pointer"
          style="color:#001b34;" onclick="window.location.href = '/user/login'">Acesse</div> -->
      </div>
    </div>
  </div>
</section>