<div class="box a1 container ground padding-4">
  <div id="contact-create-btn" class="mobile-box container ground right">
    <img id="contact-icon" class='image-prop size-20 shadow-lg-st radius-5 opacity-out-09 padding-8 pointer'
      src='/images/icon/add-contact.png'>
  </div>

  <div id="contact-create-box" class="box a1 container h-center" style="display:none;">
  </div>
</div>

<script>
  function createForm() {
    let contact_create_form = lib.element.create('form', {
      class: "box a1 container ground padding-10 h-center margin-top-5",
    });

    let contact_create_title = lib.element.create("h2", {
      class: "box b1 underline lucida-grande bold rem10 text-shadow center",
    }, "Novo contato");
    contact_create_form.append(contact_create_title);

    contact_create_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Nome da empresa"));
    let contact_create_business = lib.element.create("input", {
      class: "box b1 lucida-grande rem08 border-bottom-lg-st padding-10",
      placeholder: "Nome da empresa que está prospectando",
      role: "presentation",
      autocomplete: "off"
    });
    contact_create_form.append(contact_create_business);

    contact_create_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "WhatsApp da empresa"));
    let contact_create_jid = lib.element.create("input", {
      class: "box b1 lucida-grande rem08 border-bottom-lg-st padding-10",
      placeholder: "WhatsApp da empresa",
      role: "presentation",
      autocomplete: "off"
    });
    contact_create_form.append(contact_create_jid);

    contact_create_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Ativar conversa automática."));
    let contact_create_chat = lib.element.create("select", {
      class: "box b1 lucida-grande rem08 disable-selected border-bottom-lg-st padding-10",
    });
    contact_create_form.append(contact_create_chat);

    contact_create_chat.append(lib.element.create("option", {
      value: 1,
    }, "Ativar conversa automática"));

    contact_create_chat.append(lib.element.create("option", {
      value: 0,
    }, "Desativar conversa automática"));

    let submit_button = lib.element.create("input", {
      type: "submit",
      class: "box b1 btn-act lucida-grande bold noborder radius-3 shadow-lg-st padding-10 margin-top-10 pointer",
      name: "submit",
      value: "Iniciar prospecção"
    });
    contact_create_form.append(submit_button);

    contact_create_form.addEventListener('submit', async (e) => {
      e.preventDefault();

      let contact_options = {
        business: contact_create_business.value,
        jid: contact_create_jid.value,
        autochat: contact_create_chat.value
      };

      let response = await API.response(Contact.create, contact_options);
      if (!response) { return; }

      let contacts = await API.response(Contact.filter, {});
      contactFilter(contacts);

      let contact_create_box = document.getElementById('contact-create-box');
      let contact_icon = document.getElementById("contact-icon");
      contact_icon.src = "/images/icon/add-contact.png";
      contact_create_box.style.display = "none";

      contact_create_business.value = "";
      contact_create_jid.value = "";

    });

    return contact_create_form;
  }

  document.addEventListener('DOMContentLoaded', () => {
    let contact_create_btn = document.getElementById('contact-create-btn');
    let contact_create_box = document.getElementById('contact-create-box');

    contact_create_box.append(createForm());

    contact_create_btn.addEventListener('click', () => {
      let contact_icon = document.getElementById("contact-icon");

      if (contact_create_box.style.display === "none") {
        contact_icon.src = "/images/icon/close-x.png";
        contact_create_box.style.display = "";
      } else {
        contact_icon.src = "/images/icon/add-contact.png";
        contact_create_box.style.display = "none";
      }
    });
  });
</script>