<div id="contact-box" class="box a1 container scroll-y"></div>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    let contacts = await API.response(Contact.filter, {});
    contactFilter(contacts);
  });

  function contactFilter(contacts) {
    let contact_box = document.getElementById("contact-box");
    contact_box.innerHTML = "";

    if (!contacts.length) {
      contact_box.innerHTML = "";
      return contact_box.append(lib.element.create("div", {
        class: "box b1 lucida-grande center"
      }, "Nenhum contato"));
    }

    contacts?.forEach(contact => {
      let contact_div = contactDiv(contact);
      contact_box.append(contact_div);
    });
  };
</script>