<div id="contact-box" class="box a1 container border-top margin-top-10"></div>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    let { contacts, messages } = await API.response(Contact.filter, {});

    for (let i in contacts) {
      contacts[i].messages = messages.filter(msg => msg.contact_phone == contacts[i].phone);
    };

    contactFilter(contacts);
  });

  function contactFilter(contacts) {
    let contact_box = document.getElementById("contact-box");

    if (!contacts.length) {
      contact_box.innerHTML = "";
      return contact_box.append(lib.element.create("div", {
        class: "box b1 lucida-grande center"
      }, "Nenhum contato"));
    }

    contacts?.forEach(contact => {
      let contact_div = contactDiv(contact);
      contact_box.append(contact_div);
    });
  };
</script>