<div class="mobile-box a4 ground border-right" style="height: 100%;justify-content: flex-start;">
  <%- include('./create.ejs') %>
  <%- include('./div.ejs') %>
  <%- include('./filter.ejs') %>
</div>