<div id="chat-container" class="mobile-box a2-3 container"
  style="background-image: url('images/bg/chat/bg-2.png'); background-size: cover; background-position: center;">
</div>

<script>
  let currentChatContact = null;

  document.addEventListener("DOMContentLoaded", () => {
    const chat_container = document.getElementById("chat-container");
    chat_container.style.height = window.innerHeight + "px";

    let identity_box = lib.element.create("div", {
      id: "identity-box",
      class: "box a1 container ground",
      style: `height: ${parseInt(window.innerHeight) * 0.08}px;`
    });
    chat_container.append(identity_box);

    let message_box = lib.element.create("div", {
      id: "message-box",
      class: "box a1 container scroll-y padding-20",
    });
    chat_container.append(message_box);

    let message_input_box = lib.element.create("div", {
      id: "message-input-box",
      class: "box a1 container ground",
      style: `height: ${parseInt(window.innerHeight) * 0.10}px;`
    });
    chat_container.append(message_input_box);

    // functions
    function resizeMessageBox() {
      const containerHeight = chat_container.clientHeight;
      const identityHeight = identity_box.offsetHeight;
      const inputHeight = message_input_box.offsetHeight;

      const availableHeight = containerHeight - identityHeight - inputHeight;
      message_box.style.height = availableHeight + "px";
    };

    // events
    window.addEventListener("resize", function () {
      chat_container.style.height = window.innerHeight + "px";
      console.log("A tela foi redimensionada. Nova altura:", window.innerHeight);

      resizeMessageBox();
    });

    resizeMessageBox();
  });

  async function openChat(jid) {
    let contact = (await API.response(Contact.filter, { jid }))[0];
    if (!contact) { return; }

    currentChatContact = jid;

    contact.messages = await API.response(Message.filter, { jid });
    if (!contact.messages) { return; }

    let identity_box = document.getElementById("identity-box");
    let message_box = document.getElementById("message-box");
    let message_input = document.getElementById("message-input-box");

    // identity box
    identity_box.innerHTML = "";
    let identity_info_box = lib.element.create("div", {
      class: "mobile-box container margin-left-10",
      style: "align-self: center;"
    });
    identity_box.append(identity_info_box);

    let profile_picture = lib.element.create("img", {
      class: "image-prop size-35 radius-50 v-center",
      src: contact.profile_picture || "/images/icon/profile.png",
    });
    identity_info_box.append(profile_picture);

    let identity_contact_box = lib.element.create("div", {
      class: "mobile-box container v-center padding-left-10"
    });
    identity_info_box.append(identity_contact_box);

    identity_contact_box.append(lib.element.create("div", {
      class: "mobile-box b1 lucida-grande em09 text-shadow v-center"
    }, contact.business || contact.name || ""));

    identity_contact_box.append(lib.element.create("div", {
      class: "mobile-box b1 em08 text-shadow v-center"
    }, contact.jid));

    // Message box
    message_box.innerHTML = "";

    contact.messages = lib.sort(contact.messages, "datetime");

    contact.messages.forEach(message => {
      message_box.append(messageDiv(message));
    });

    message_box.scrollTop = message_box.scrollHeight;
  };

  function identityDiv() {

  };
</script>